@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* third-party libraries CSS */

.testimonial-01 .swiper-pagination-bullet {
  @apply h-2.5 w-2.5 bg-stroke opacity-100;
}
.testimonial-01 .swiper-pagination-bullet-active {
  @apply w-5 rounded-full bg-primary;
}

.testimonial-01 .swiper-pagination {
  @apply relative pt-[50px];
}

#supportCheckbox:checked ~ div span {
  @apply opacity-100;
}

@layer base {
  body {
    @apply text-regular font-normal text-primary;
  }
}

@layer components {
  .dropdown {
    @apply -left-7.5 mt-2 hidden min-w-max flex-col gap-4 rounded-md border border-stroke  bg-primary  px-8 py-5 shadow-solid-13 duration-300 ease-in dark:border-strokedark xl:invisible xl:absolute
    xl:mt-0 xl:flex xl:w-[250px] xl:translate-y-10 xl:opacity-0
    xl:before:absolute xl:before:-top-1.5 xl:before:left-10 xl:before:h-3 xl:before:w-3 xl:before:rotate-45 xl:before:border-l xl:before:border-t xl:before:border-stroke xl:before:bg-primary xl:group-hover:visible xl:group-hover:translate-y-6.5 
    xl:group-hover:opacity-100 xl:dark:before:border-strokedark xl:dark:before:bg-primary;
  }
}

@media (max-width: 1280px) {
  .navbar {
    @apply max-h-[400px] overflow-y-scroll;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */

  ::-webkit-scrollbar {
    height: 12px;
    width: 7px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #1d2939;
    -webkit-border-radius: 1ex;
  }

  ::-webkit-scrollbar-corner {
    background: grey;
  }

  /* .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;  IE and Edge 
    scrollbar-width: none;   Firefox 
  } */
}

.blog-details-docs {
  @apply rounded-lg border border-white p-7.5 shadow-solid-3 transition-all dark:border-strokedark  dark:bg-blacksection xl:p-12.5;
}

.blog-details p {
  @apply mb-8 text-base leading-relaxed text-titlebgdark dark:text-waterloo;
}

.blog-details p strong {
  @apply text-primary dark:text-waterloo;
}
.blog-details h3 strong,
.blog-details h3 {
  @apply mb-10 text-xl !font-semibold leading-tight text-black dark:text-white sm:text-2xl sm:leading-tight lg:text-xl lg:leading-tight xl:text-2xl xl:leading-tight;
}

.blog-details h4 strong,
.blog-details h4 {
  @apply text-xl !font-semibold leading-tight text-black dark:text-white sm:text-2xl sm:leading-tight lg:text-xl lg:leading-tight xl:text-2xl xl:leading-tight;
}

.blog-details h5 strong,
.blog-details h5 {
  @apply mb-3 text-lg !font-semibold leading-tight text-black dark:text-white sm:text-xl;
}

.blog-details h1 {
  @apply mb-4 text-3xl !font-bold !leading-tight text-black dark:text-white sm:text-4xl md:text-[45px] lg:text-4xl xl:text-[45px];
}
.blog-details h2 strong,
.blog-details h2 {
  @apply mb-4 text-[26px] !font-bold !leading-tight text-black dark:text-white sm:text-3xl md:text-4xl;
}

.blog-details ul,
.blog-details ol {
  @apply mb-10 list-inside list-disc text-titlebgdark;
}

.blog-details li,
.blog-details li {
  @apply mb-2 text-base text-titlebgdark dark:text-waterloo;
}

.blog-details blockquote {
  @apply relative z-10 mb-10 overflow-hidden rounded-sm bg-manatee p-8 text-center text-base font-medium italic text-black dark:bg-titlebgdark md:py-9 lg:px-10;
}

.blog-details blockquote::after {
  content: "";
  @apply absolute bottom-0 right-0 h-20 w-20 bg-[url(/images/blog/quote-shape-2.svg)] bg-contain bg-right-bottom bg-no-repeat;
}

.blog-details blockquote::before {
  content: "";
  @apply absolute left-0 top-0 h-[106px] w-[140px] bg-[url(/images/blog/quote-shape-1.svg)] bg-contain bg-left-top bg-no-repeat dark:bg-[url(/images/blog/quote-shape-1.svg)];
}

pre {
  @apply relative mb-2 rounded-lg bg-strokedark px-4 py-2;
}
.prism-copy-button {
  @apply absolute right-2 top-2 h-[26px] rounded bg-white px-4 text-primary;
}

.active-tab {
  @apply bg-stroke text-black dark:bg-blackho dark:text-white;
}

body {
  font-family: "'Urbanist','sans-serif'";
}
.card-container {
  background: rgba(255, 255, 255, 0.1);
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
}

/* Swiper  */
.carousel-wrapper {
  margin: 0 10px;
}

.carousel-wrapper .swiper.card-slider {
  padding: 10px 24.5px;
  margin: -15px -24.5px 0;
}

.carousel-wrapper .swiper.card-slider .solution-card:hover,
.carousel-wrapper .swiper.card-slider .solution-card:focus,
.carousel-wrapper .swiper.card-slider .package-card:hover,
.carousel-wrapper .swiper.card-slider .package-card:focus {
  -webkit-box-shadow: 0 0px 14px 0px rgb(0, 0, 0, 0.1);
  box-shadow: 0 0px 14px 0px rgb(0, 0, 0, 0.1);
}

.carousel-wrapper .swiper.card-slider .swiper-button-prev,
.carousel-wrapper .swiper.card-slider .swiper-button-next {
  z-index: 2;
}

.carousel-wrapper .swiper.card-slider .swiper-button-prev {
  left: 4px;
}

.carousel-wrapper .swiper.card-slider .swiper-button-next {
  right: 4px;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  width: 36px;
  height: 36px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 50%;
  overflow: hidden;
}

.swiper .swiper-button-next:hover,
.swiper .swiper-button-prev:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.swiper .swiper-button-next:after {
  content: "";
  width: 36px;
  height: 36px;
  background: #f48c06 url("/images/icon/arrow-right-primary.svg") center center
    no-repeat;
  background-size: 24px 24px;
}

.swiper .swiper-button-prev:after {
  content: "";
  width: 36px;
  height: 36px;
  background: #f48c06 url("/images/icon/arrow-left-primary.svg") center center
    no-repeat;
  background-size: 24px 24px;
}

.pagination-swiper.swiper .swiper-wrapper {
  padding-bottom: 64px;
}

.less-padding.pagination-swiper.swiper .swiper-wrapper {
  padding-bottom: 44px;
}

.pagination-swiper.swiper .swiper-wrapper .swiper-slide {
  height: auto;
}

.swiper-pagination {
  display: block;
  top: auto;
  bottom: 0 !important;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: var(--color007A7A);
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
